body{
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav{
  background-color: rgb(254, 199, 1) ;
}

h1{
  padding-top: 5%;
  color: rgb(60, 60, 60);
}


  /* footer */
  .footerText {
    text-decoration: none;
    background-color: rgb(254, 199, 1);
    color: rgb(0, 0, 0);
    text-align: center;
    transition: all 0.5s;
  }
  
  .footerText:hover {
    transform: scale(1.1);
    color:rgb(232, 235, 233);
  }
  
  footer {
    margin-top: 20px;
    background-color: rgb(254,199,1);
    color: rgb(0, 0, 0);
    text-align: center;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
 
    padding: 10px 0;
    z-index: 1000;
  }
  
  .links {
    font-size: 30px;
    justify-content: center;
  }
  
  .pp {
    font-size: 20px;
  }

  .ppo {
    font-size: 10px;
  }


  main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .BtnCrear {
  background-color: rgb(254,199,1);
  color: black;
  font-weight: bold;
 }

 .negrita {
  font-weight: bold;
  color: rgb(254,199,1);
 }

 .rutinasH3{
  text-align: center;
  color: rgb(254,199,1);
 }

 .btnGabi{
  background-color: black;
  color: rgb(254,199,1);
  font-weight: bold;
 }

 .ejerciciosh3{
  color: rgb(254,199,1);
 }

 .btnManu{
  background-color: rgb(254,199,1) ;
  color: black;
  border: none
 }